<div class="something">
<%= render "navbar" %>
<% stylesheet_link_tag "new"  %>

<h1 id="jatt"> Create new article</h1>
<br>
  <%=render 'form', article: @article %>
</div>
<%=render "footer"%> 
  
  