.footer-container {
  margin-top: auto;
}
.footer {
  min-height: 100px;
  background-color: #101827;
  display: flex;
  align-items: center;
}
.footer p {
  margin-left: 80px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.line {
  width: 90vw;
  height: 1px;
  margin-left: 5vw;
  background-color: #363f4c;
}
