.articles li {
  font-size: 25px;
  font-weight: 350;
  margin: 5px 0px;
  color: #e5e7eb;
}
body {
  background-color: #101827;
  color: white;
}
.jatti {
  text-decoration: none;
  color: seagreen;
}
.jatti:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
.articles li {
  padding: 30px 50px;
  min-width: 500px;
  margin: 10px auto;
  border: 1.5px solid #363f4c;
  border-radius: 10px;
  background-color: #1f2937;
}
.new-article {
  text-decoration: none;
  color: coral;
  padding: 7px 13px;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid coral;
  border-radius: 5px;
  transition-duration: 200ms;
  margin-top: 20px;
}
.new-article:hover {
  text-decoration: none;
  color: white;
  background-color: coral;
  padding: 7px 13px;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid coral;
  border-radius: 5px;
  transition-duration: 200ms;
}
