* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  padding: 0 100px;
  background-color: #101827;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.275);
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.seven-seg {
  height: 80px;
}
.menus {
  display: flex;
  gap: 25px;
  align-items: center;
}
#signup {
  background-color: #0e766e;
  padding: 5px 10px;
  border-radius: 5px;
}
#signup:hover {
  background-color: #0f5e59;
}
#signup a {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.logo {
  font-size: 25px;
  color: white;
}
.menu-item {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
}
.menu-item:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.761);
  font-size: 20px;
}
