h1 {
  color: white;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}

.button {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  color: coral;
  padding: 5px 10px;
  font-size: 17px;
  font-weight: 200;
  border: 1px solid coral;
  border-radius: 5px;
  transition-duration: 200ms;
  margin-top: 20px;
}
.button:hover {
  text-decoration: none;
  color: white;
  background-color: coral;
  padding: 5px 10px;
  font-size: 17px;
  font-weight: 200;
  border: 1px solid coral;
  border-radius: 5px;
  transition-duration: 200ms;
}
.article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  margin: 0 auto;
}
p {
  font-size: 22px;
  line-height: 38px;
  font-weight: 300;
}
.blog-container {
  width: fit-content;
  margin: auto;
}
.comment-container {
  width: fit-content;
  margin: auto;
}
#ford {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.342);
  border: 1px solid white;
  color: white;
}
#ford3600 {
  margin: 0;
  background-color: rgba(255, 255, 255, 0);
}
#ford3600:hover {
  background-color: coral;
}
